body {
    background-image: url('Images/pokemonWallpaper.jpg');
    background-size: cover;
}

.instructions {
    margin-left: 50px;
    margin-top: 100px;
    font-size: medium;
    color: aliceblue;
    text-shadow: 2px 2px 5px black;
}

h1 {
    padding: 40px 60px;
    color: aliceblue;
    text-shadow: 2px 2px 5px black;
    border-radius: 15px;
    text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    opacity: 90%;
    color: white;
    padding: 10px;
    text-align: right;
    font-size: 14px;
    box-sizing: border-box;
}

.userContainer {
    display: flex;
    justify-content: space-between;
}

.userColumn {
    color: aliceblue;
    text-shadow: black;
    width: 45%;
    font-size: x-large;
    font-weight: 1000;
}

.removeButton {
    margin-left: 5%;
}

.userColumn h2 {
    text-align: center;
    color: aliceblue;
    text-shadow: 2px 2px 5px black;
}

.userColumn h3 {
    margin-left: 5%;
    color: aliceblue;
    text-shadow: 2px 2px 5px black;
}

.characterButtons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 20px;
}

.characterButtons button {
    padding: 20px;
    width: 120px;
    font-size: 16px;
    cursor: pointer;
    background-color: cornflowerblue;
    color: white;
    text-shadow: 2px 2px 5px darkblue;
    border: none;
    border-radius: 50px;
    border-style: ridge;
    border-color: rgb(43, 76, 138);
}

.characterButtons button:hover {
    background-color: #fffc37;
    color:black
}

a {
    text-decoration: none;
}

.backButton {
    position: fixed;
    top: 10%;
    left: 5%;
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100px;
    font-size: 16px;
    color: white;
    text-shadow: 2px 2px 5px darkgreen;
    background-color: green;
    border-radius: 70px;
    border-style: solid;
    border-color: rgb(0, 77, 0);
}

.backButton:hover {
    background-color: darkgreen;
    color: greenyellow;
}

.attractiveButton {
    position: fixed;
    top: 10%;
    right: 5%;
    display: flex;
    padding: 30px;
    width: 200px;
    font-size: 35px;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 5px darkred;
    background-color: red;
    border-style: solid;
    border-color: darkred;
    border-radius: 70px;
}

.attractiveButton:hover {
    background-color: yellow;
    color: darkred;
}

.characterImage {
    position: absolute;
    bottom: 30%;
    left: 43%;
    display: none;
    text-align: center;
}